.Product {
    font-size: 14px;
}
.Price,
.Quantity {
    text-align: center;
    font-size: 16px;
}

.ImgURL {
    width: 120px;
}

.Selected {
    background-color: red;
}

.Unselected {
    background-color: transparent;
}

.ButtonIn {
    font-size: 14px;
    margin: 5px;
    min-width: 120px;
    background-color: grey;
}
.ButtonOff {
    font-size: 14px;
    margin: 5px;
    min-width: 120px;
    background-color: grey;
    opacity: 0.5;
}

.Control,
.Image {
    text-align: center;
} 

