.Ishop
{
  border: double yellowgreen 3px;
  width: 800px;
  padding: 3px 7px;
  background-color: #f0f0f0;
  text-transform: uppercase;
}

.Ishop .Question
{
  font-weight: bold;
}

.Ishop .Products
{
  padding-top: 5px;
}

.Ishop .Products .Product
{
  padding: 2px 0;
}

.Ishop .Products .Product .Description-Product
{
  float: right;
  width: 30px;
  font-weight: bold;
  text-align: right;
}

.Ishop .Products .Product .Name
{
  margin-right: 30px;
  text-transform: lowercase;
}
